@mixin pos-center($direction: center, $type: absolute) {
  @if ($type == fixed or $type == absolute) {
    position: $type;
  }

  @if ($direction == x) {
    left: 50%;
    transform: translateX(-50%);
  }

  @if ($direction == y) {
    top: 50%;
    transform: translateY(-50%);
  }

  @if ($direction == center) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
