.modal {
  @include basic-shadow($modal);
  @include pos-center(center, fixed);
  z-index: $modal-level;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  &-contents {
    @include flexbox;
    flex-wrap: wrap;
    width: 300px;
    min-height: 150px;
    padding: 20px 20px;

    form {
      width: 100%;

      input {
        @include text-style(14, $primary);
        @include text-weight(700);
        width: 100%;
        padding: 8px 12px;
        background-color: #f3f6f9;
        border-radius: 7px;
        box-shadow: inset 5px 5px 5px #e2e5e8, inset -5px -5px 5px #ffffff;
      }
    }
  }

  &-buttons {
    button {
      @include text-style(18, $primary);
      @include text-weight(700);
      transition: text-shadow 200ms ease-in-out;

      &:hover {
        text-shadow: $text-shadow;
      }
    }
  }
}
