.slider-nav {
  @include flexbox;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $sm-slider-nav-height;
  padding: 0 20px;
  background-color: $background;

  &-list {
    @include flexbox;

    .slider-nav-item {
      margin: 0 20px;

      button {
        @include text-style(14, $primary);
        @include text-weight(400);
        display: block;
        width: 65px;
        height: 65px;
        padding: 5px;
        background-color: $background;
        border-radius: 13px;
        box-shadow: 5px 5px 6px #d1d4d6, -5px -5px 6px $white;
      }

      &.tns-nav-active {
        button {
          @include text-weight(700);
          box-shadow: inset 5px 5px 6px #d1d4d6, inset -5px -5px 6px $white;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
}
