$d-day-size: 170px;
$d-day-margin-size: 40px;

.d-day {
  @include flexbox;
  position: relative;
  width: $d-day-size;
  height: $d-day-size;
  margin: 30px auto 30px auto;
  background-color: $background;
  border-radius: $circle;
  box-shadow: 5px 5px 10px #bbbdc0, -5px -5px 10px $white;

  &-setting-btn {
    width: 100%;
    height: 100%;
    border-radius: $circle;

    &:hover {
      .d-day-letter {
        text-shadow: $text-shadow;
      }
    }
  }

  &-letter {
    @include text-style(18, $primary);
    @include text-weight(400);
    text-align: center;
    transition: text-shadow 200ms ease-in-out;
  }
}

.d-day::before {
  position: absolute;
  z-index: $pseudo-level;
  display: block;
  width: $d-day-size + $d-day-margin-size;
  height: $d-day-size + $d-day-margin-size;
  background-color: $background;
  border-radius: $circle;
  content: '';
  box-shadow: inset 2px 2px 5px #bbbdc0, inset -2px -2px 5px $white;
}
