.d-day {
  @include basic-shadow($circle);
  @include flexbox;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px auto;

  &-setting-button {
    width: 100%;
    height: 100%;
    border-radius: $circle;

    &:hover {
      .d-day-letter {
        text-shadow: $text-shadow;
      }
    }
  }

  &-letter {
    @include text-style(18, $primary);
    @include text-weight(300);
    text-align: center;
    transition: text-shadow 200ms ease-in-out;
  }
}

.d-day::before {
  @include basic-shadow-light($circle);
  position: absolute;
  z-index: -1;
  display: block;
  width: 240px;
  height: 240px;
  content: '';
}
