.local-info {
  padding: 15px 0;
  text-align: center;

  .time {
    @include text-weight(400);
    margin-bottom: 5px;
    font-size: 30px;
    letter-spacing: -0.001em;
  }

  .date {
    @include text-style(18);
    @include text-weight(400);
    margin-bottom: 5px;
  }

  .weather {
    @include text-style(16);
    @include text-weight(400);
  }
}
