.local-info {
  padding: 15px 0;
  text-align: center;

  .total-time {
    @include flexbox;

    .ampm {
      @include text-style(18);
      margin-left: 8px;
    }

    .time {
      @include text-weight(400);
      margin-bottom: 5px;
      font-size: 30px;
      letter-spacing: -0.001em;
    }
  }

  .date {
    @include text-style(18);
    @include text-weight(400);
    margin-bottom: 5px;
  }

  .weather {
    @include flexbox(start);
    position: relative;
    width: 92%;
    height: 120px;
    margin: 30px auto 0;
    background-color: $background;
    border-radius: $rect;
    box-shadow: 5px 5px 10px #b4b6b8, -5px -5px 10px $white;

    &-icon {
      flex-shrink: 0;
      width: 60px;
      height: 60px;
      margin: 0 20px;
      overflow: hidden;
      background-color: $primary;
      border-radius: $circle;
      box-shadow: 5px 5px 5px #a0a2a4, -5px -5px 5px $white;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      @include text-weight(400);
      text-align: left;

      .temp {
        @include text-style(18);
      }

      .name {
        @include text-style(14);
      }

      .location {
        @include text-style(14);
      }
    }

    &-refresh-btn {
      position: absolute;
      top: -10px;
      right: -8px;
      display: block;
      width: 30px;
      height: 30px;
      padding: 0;
      background-color: $background;
      background-image: url('./assets/refresh.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 60% 60%;
      border-radius: $circle;
      box-shadow: 2px 2px 4px #c2c5c7, -2px -2px 4px $white;
    }
  }
}
