.todo {
  $todo-btn-size: 15px;
  $container-top-margin: 20px;
  $container-bottom-margin: 30px;

  &-container {
    width: 92%;
    max-height: calc(
      #{$sm-main-height} - #{$container-top-margin + $container-bottom-margin}
    );
    padding: 5px 15px;
    margin: $container-top-margin auto $container-bottom-margin auto;
    overflow: scroll;
    background-color: $background;
    border-radius: $rect;
    box-shadow: 9px 9px 16px #b4b6b8, -9px -9px 16px $white;

    &-header {
      position: relative;
      width: 100%;
      height: 40px;
      padding: 8px 10px;
      margin-bottom: 20px;
      text-align: center;

      .todo-title {
        @include text-style(18, $primary);
        @include text-weight(400);
      }

      .todo-add-btn {
        position: absolute;
        top: 0;
        right: -10px;
        display: block;
        width: 38px;
        height: 38px;
        padding: 10px;

        img {
          display: block;
          width: 100%;
          height: 100%;
          transition: transform 200ms ease-in-out;
          object-fit: cover;
        }

        :hover {
          transform: rotate(90deg);
        }
      }
    }
  }

  &-list {
    .todo-item {
      @include flexbox(between);
      margin-bottom: 15px;

      .todo-done-btn {
        @include flexbox(start);
        text-align: left;

        img {
          width: $todo-btn-size;
          height: $todo-btn-size;
          margin-right: 20px;

          &.not-done {
            display: inline-block;
          }

          &.done {
            display: none;
          }
        }

        .todo-name {
          @include text-style(16, $primary);
        }
      }

      .todo-delete-btn {
        display: block;
        width: $todo-btn-size;
        height: $todo-btn-size;
        padding: 0;
        background-color: $background;
        background-image: url('./assets/delete.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &.is-active {
        .todo-done-btn {
          img {
            &.not-done {
              display: none;
            }

            &.done {
              display: inline-block;
            }
          }

          .todo-name {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
